<% let actor = entity %>

<a href="/actors/<%= actor.id %>">
    <%= `${actor.firstName} ${actor.lastName}` %>
    <% if (actor.ActorEpisode) { %>
    (<%= actor.ActorEpisode.screenTime ? moment.duration(actor.ActorEpisode.screenTime).humanize() : "N/A" %>)
    <% } else {  %>
    (<%= actor.episodes.length %>)
    <% }  %>

</a>